@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

* { /*RESET (efface le code par défaut imposé par le navigateur)*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
     font-family: "Epilogue", sans-serif;
}




/* flex-box */
.flex {
display: flex;
flex-wrap: wrap;
}
/* alignement horizontale */
.space-between {
justify-content: space-between
}

.margin-top-200 {
    margin-top: 200px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-100 {
    margin-top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
}
.margin-top50 {
    margin-top: 50px;
    left: 100px;
}
.space-around {
justify-content: space-around 
}
.space-evenly {
justify-content: space-evenly
}
.justify-center {
justify-content: center;
}
.flex-end {
justify-content: flex-end;
}
.flex-start {
justify-content: flex-start;
}
/* aligment verticale */
.align-center {
align-items: center;
}
.align-end {
align-items: end;
}
.gap-12 {
gap:12px;
}

/* arrière plan */
.bg-black {
    background-color: black;
}
.bg-white{
    background-color: white;
}


.bg-orange {
    background-color:#FF6250;
}

/* largeur */
 .w-10 {
    width: 10%;
 }
 .w-15 {
    width: 15%;
 }
.w-22 {
    width: 22%;
}
.w-30 {
    width: 30%;
}
.w-33 {
    width: 33%;
}
.w-48 {
    width: 48%;
}
.w-60 {
    width: 60%;
}
.w-100 {
    width: 100%;
}

/* arrondissement */

.brder-radius {
    border-radius: 25px;
}

.rond {
    border-radius: 45px;
}

/* encadrement */

.container-1000 {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*les positions*/

.absolute {
    position: absolute;
}

.relative{
    position: relative;
}
.fixed {
    position: fixed;
}
.sticky {
    position: sticky;
}

/* le texte */

h2 {
    text-align: center;
    margin-bottom: 87px;
}
a {
    text-decoration: none;
    list-style: none;
    color: black;
}
i {
    color: black;
}
.list-style {
    list-style: none;
}
.txt-black {
    color: black;
}
.txt-white {
    color: white;
}
.pointenmoins {
    list-style: none;
}

.txt-decoration{
    text-decoration: none;
}
.txt-center {
    text-align: center;
}
/*les display*/
.flex {
    display: flex;
}

/* section-hero */
.section-hero {
      height: 100vh;
      left: 150%;
      top: 78%;
  background-position: center ;
}


/* header */
header {
    width: 100%;
}

/*  */
/*Valeurs*/
.carrer {
    width: 86px;
    height: 86px;
    background-color: white;
}

/* sens des aiguilles d'une montre */
.arrondidroite {
    border-radius: 26px 0px 26px 0px;
}
.fleche{
    border-radius: 0px 65px 0px 0px;
}

.citron {
    border-radius: 50px 0px 50px 0px;
}
.arrondi {
    border-radius: 0px 0px 0px 26px;
}

/*les margin*/
/*Top */
.margin-top-5{
    margin-top: 5px;
}
.margin-top-15 {
    margin-top: 15px;
}

.margin-top-45 {
    margin-top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
}
/* Bottom */
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-45 {
    margin-bottom: 45px; }
.margin-bottom-100 {
    margin-bottom: 100;
}


/* padding */

.padding-top-45 {
    padding-top: 45px;
}

.padding-bottom-45 {
    padding-bottom: 45px;
}

.padding20{
    padding: 20px;
}
.padding-top-64 {
    padding: 64px 0px;
}

/* footer */
input {
    display: block;
    margin-bottom: 16px;
    padding: 4px 8px;
}

/*section hero 2*/
h1 span {
    border-radius: 360px;
    background-color: #009379;
    width: 20px;
    height: 20px;
    display: inline-block;
}